html {
  padding: 2em;
  font: 13px sans-serif;
}

body {
  min-width: 22em;
  margin: 0 auto;
}

h1 {
  margin: 1em 0;
}

form {
    border-radius: 1ex;
    background-color: #f2f2f2;
    padding: 1em;
}

input {
    display: block;
    width: 14em;
    padding: 1ex;
    margin: 1ex 0;
    border: none;
    border-radius: 1ex;
}

button {
    background-color: #397cd5;
    color: white;
    padding: 1em 1.5em;
    margin: 1em auto 1em 0;
    border: none;
    border-radius: 1ex;
}
